/* variables.css */
:root {
    --bg-color: #E0E0E0;
    --card-bg: #C9C9C9;
    --text-color: #1F1F1F;
    --border-color: #d5d7da;
    --primary-color: #C9C9C9;
    --table-header-bg: #C9C9C9;
    --table-header-text: #1F1F1F;
    --badge-genre-bg: #afafaf;
    --badge-genre-text: var(--text-color);
    --badge-style-bg: #c1c1c1;
    --badge-style-text: var(--text-color);
    --input-bg: #C9C9C9;
    --input-border: #d5d7da;
    --input-focus: #E7FF6E;
    --btn-primary-bg: #1a202c;
    --btn-primary-hover-bg: #2a2a2a;
    --transition-speed: 0.3s;
  }